data
public/models
public/sample.h5ad

.tsbuildinfo.*
tsconfig.tsbuildinfo

node_modules
frontend/node_modules
dist

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-wheel-metadata/
*.egg-info/
dist/
build/
*.whl

# uv-specific
.uv_cache/
.uv_work/

# OS and environment
.DS_Store
*.env
.env
*.local

# # Logs
# logs
# *.log
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*
# pnpm-debug.log*
# lerna-debug.log*

# dist-ssr
# *.local

# # Editor directories and files
# .vscode/*
# !.vscode/extensions.json
# .idea
# .DS_Store
# *.suo
# *.ntvs*
# *.njsproj
# *.sln
# *.sw?

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# tests/artifacts/

lightning_logs/


# # Testing and coverage
# .coverage
# coverage.xml
# htmlcov/
# .pytest_cache/
# .tox/

# # Logs and temporary files
# *.log
# *.tmp
# *.bak
# *.swp
# *~